<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order Details</h1>
    <% @order.line_items.each do |item| %>
      Product: <p><%= item.product.name %></p>
      Quantity: <p><%= item.quantity %></p>
    <% end %>
    <p>
      Total: $<%= @order.total %>
    </p>
    <p>Thanks for shopping with Jungle and have a great day!</p>
  </body>
</html>