// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.user-name {
  padding: 15px;
  color: #777;
}

.review {
  border: solid 1px grey;
  border-radius: 0.5em;
}

.review-header {
  padding: 0.5em;
  border-bottom: solid 1px grey;
}

.review-body {
  padding: 0.5em;
  border-bottom: solid 1px grey;
}

.review-footer {
  padding: 0.5em;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
