// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.user-name {
  padding: 15px;
  color: #777;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
